.modall {
	position:fixed;
	z-index:2;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	opacity:50%;
}
.modall p {
	text-align: center;
	margin-top:50vh;
	font-size:40px;
	color:yellow;
}


body {
	background-color:white;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Lato', sans-serif;
}

p, a{
	font-family: 'Raleway', sans-serif;
}



.container {
	margin:auto;
	overflow:hidden;
	height:90vh;
}

.vertical-al {

}


ul{
	margin:0;
	padding:0;
}

.carousel-inner {
	height:95vh;
}

.carousel-item {
	height:100%;
}

#navbar {
	position:absolute;	
	width:100%;
	z-index: 2;
}

#navbar a{
	text-decoration: none;
	color:white;
}

#titulo {
	z-index: 2;
	position:absolute;
	top:25%;
	color:white;
	width:100vw;
}

#skills{
	background: white;
}

#contact{
	background:#f0f0f0;
}

footer{
	padding:20px;
	margin-top:20px;
	color:white;
	background-color:#212121;
	text-align:center;
}
